<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%logger{36} %-5level %d{yyyy-MM-dd HH:mm:ss} - %msg%n"/>
        </Console>

        <!-- File appender configuration -->
        <File name="FileAppender" fileName="logs/app.log">
            <PatternLayout pattern="%logger{36} %-5level %d{yyyy-MM-dd HH:mm:ss} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>
